##
# This is an example file to show how you could configure dns using a different provider.
#

# Add the following to your main.tf file.
# terraform {
#   required_providers {
#     digitalocean = {
#       source  = "digitalocean/digitalocean"
#       version = "~> 2.5"
#     }
#   }
# }

provider "digitalocean" {
	token = "DO_TOKEN"
}
resource "digitalocean_record" "zone_portal_ipv4" {
    domain = var.zone_name
    name = var.cs_portal_domain
    type = "A"
    ttl = 90
    value = upcloud_server.controller.network_interface[0].ip_address
}
resource "digitalocean_record" "zone_registry_ipv4" {
    domain = var.zone_name
    name = var.cs_registry_domain
    type = "A"
    ttl = 90
    value = var.dedicated_registry_server ? upcloud_server.registries.*.network_interface[0][0].ip_address : upcloud_server.controller.network_interface[0].ip_address
}
resource "digitalocean_record" "zone_metrics_ipv4" {
    domain = var.zone_name
    name = var.cs_metrics_domain
    type = "A"
    ttl = 90
    value = var.dedicated_metrics_server ? upcloud_server.metrics.*.network_interface[0][0].ip_address : upcloud_server.controller.network_interface[0].ip_address
}
resource "digitalocean_record" "zone_app" {
    domain = var.zone_name
    name = var.cs_app_url
    type = "A"
    ttl = 90
    value = upcloud_floating_ip_address.cluster_vip.ip_address
}
resource "digitalocean_record" "zone_app_wildcard" {
    domain = var.zone_name
    name = format("*.%s", var.cs_app_url)
    type = "CNAME"
    ttl = 90
    value = format("%s.%s.", var.cs_app_url, var.zone_name)
}
