upcloud_username = "USERNAME"
upcloud_password = "PASSWORD"

region = "us-sjo1"

ssh_keys = [
    "YOUR SSH KEY"
  ]

# Controller
plan_controller = "4xCPU-8GB"
plan_controller_disk = 160 # 160GB is included with this plan.

# Node
plan_node = "4xCPU-8GB"
node_count = 3
plan_node_disk = 160 # 160GB is included with this plan.

# Backup Server
plan_backup = "1xCPU-1GB"
plan_backup_disk = 50 # 50GB is included with this plan.

# Metrics
plan_metrics = "2xCPU-4GB"
plan_metrics_disk = 80 # 80GB is included with this plan.

# Registry
plan_registry = "2xCPU-4GB"
plan_registry_disk = 80 # 80GB is included with this plan.

# NS Servers
plan_nameserver = "1xCPU-1GB"
plan_nameserver_disk = 25

##
# ComputeStacks
cs_currency = "USD"

# The region name. Should be lower case, without spaces, and only '-' and '_' characters
region_name = "upcloud"

##
# Domains
zone_name = "example.net"

# Each container will receive a unique subdomain from this domain by default.
# We also need to tell CS what the zone file is in order to provision wildcard SSL for the load balancer.
cs_app_url = "a.upcloud" # ${cs_app_url}.${zone_name}

# The domain for the controller
cs_portal_domain = "portal.upcloud" # ${cs_portal_domain}.${zone_name}

# domain for the builtin container registry
cs_registry_domain = "cr.upcloud" # ${cs_registry_domain}.${zone_name}

# Internal URL for metrics.
# We ask for a domain so that we may generate a LetsEncrypt certificate for it
cs_metrics_domain = "metrics.upcloud" # ${cs_metrics_domain}.${zone_name}

# PowerDNS
primary_nameserver_zone = "example.net"
primary_nameserver_domain = "ns1.upcloud"
secondary_nameserver_zone = "example.org"
secondary_nameserver_domain = "ns2.upcloud"

##
# CS User
cs_admin_email = "root@localhost"
